{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .container{
    text-align: center;
  }
  .login-box {
    margin-left: auto;
    margin-right: auto;
  	width: 400px;
  	padding: 40px;
    background: rgba(0,0,0,.5);
  	box-sizing: border-box;
  	box-shadow: 0 15px 25px rgba(0,0,0,.6);
  	border-radius: 10px;
  }
  .btn-primary{
  border-radius: 10px;
  width: 50%;

  }
  .login-box h1{
  	margin: 0 0 30px;
  	padding: 0;
  	color: #F1EEE6;
  	text-align: center;
  }
  input{
    padding: 0 10px;
  }
  .login-box h4{
  	margin: 0 0 30px;
  	padding: 0;
  	color: #F1EEE6;
  	text-align: center;
  }

  .login-box .user-box label{
  	padding: 10px 0;
  	font-size: 18px;
    letter-spacing: 5px;
  	color: #F1EEE6;
  }


  .login-box a{
  	padding: 0px 20px;
    transition: .15s;
  	letter-spacing: 5px;
  }


  .login-box form a:hover {
  	background: #03E9F4;
  	color: #F1EEE6;
  	border-radius: 5px;
  	box-shadow: 0 0 5px #03E9F4,
  							 0 0 25px #03E9F4,
  							 0 0 50px #03E9F4,
  							 0 0 100px #03E9F4;
  }
</style>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
  <p></p>
<div class="login-box">
  <div class="user-box">
  <form method="POST" class="form-signin">{% csrf_token %}
  	<h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
      <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true"><p></p>
  	<button class="btn btn-primary " type="submit">Send reset email</button>
  </form>
</div>
</div>
</div>






{% endblock %}
